.condition-img {
  width: 100%;
  height: 400px;
  margin: 20px;
  padding: 20px;
}
.display-style {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    #020024 0%,
    #090979 35%,
    #00d4ff 100%
  );
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
}
.simple-card {
  width: 100%;
  height: 250px;
  margin: 10px;
  padding: 10px;
  color: white;
}
p {
  padding: 20px;
  margin: 20px;
}
.center {
  text-align: center;
}
.fa {
  background: #3b5998;
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.fa:hover {
  opacity: 0.7;
}
@media screen and (max-width: 800px) {
  .display-style {
    display: block;
  }
  .simple-card {
    text-align: left;
    margin-left: 25%;
  }
  .condition-img {
    width: 100%;
    height: 300px;
    margin-left: 10px;
  }
  .banner {
    height: 100px;
    width: 100%;
    object-fit: fill;
  }
  .responsive {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  }
  .club-container {
    height: 300px;
    width: 400px;
  }
}
